@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
/* lightgreen --- #CDF0EA
offwhite --- #F9F9F9
lightpink --- #F7DBF0
lightpurple --- #BEAEE2 */

p, h2, h3, h4, h5, a, input {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: larger;
}

h1 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

#subheader {
    text-align: center;
    font-size: 40px;
}

body {
    background-color: #CDF0EA;
    color: rgba(0, 0, 0, 0.76);
}

.cartform {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.mainSection {
    padding: 40px;
}

.all-items {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom right, #f7dbf0a1, #d4ebe7,#f7dbf0a1);
}

.fa-shopping-bag {
    position: absolute;
    top: 10px;
    right: 10px;
}

.items {
    padding: 10px;
    margin: 10px
}

#loginpage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    /* align-items: center; */
}

button {
    border-radius: 7px;
    padding:5px;
    margin: 10px 10px;
    background-image: linear-gradient(to bottom right, #CDF0EA,#F7DBF0);
}

button:hover {
    background-image: linear-gradient(to bottom right, #F7DBF0, #CDF0EA);

}

input {
    background-image: linear-gradient(to bottom right, #CDF0EA,#F7DBF0);
    box-sizing: 200px;
}

input:hover {
    background-image: linear-gradient(to bottom right, #F7DBF0, #CDF0EA);

}

.allCards {
    
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 0;
    column-gap: 0; */
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    justify-content:flex-start;
    align-items: center;
    justify-content: center;
}

.card-text {
    color: rgba(88, 88, 245, 0.911);
}

.card {
    background-color: #beaee285;
    display: flex;
    padding: 40px;
    margin: 10px;
    min-height: 400px;
    align-items: center;

}

/* p {
    color: rgba(88, 88, 245, 0.911);
} */

a {
    color: rgba(88, 88, 245, 0.911);
}

#moreInfo {
    display: flex;
    /* justify-content: space-around; */
}

.login-flex {
    display: flex;
    height: 90vh;
    width: 100vw;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

#help {
    padding: 10px 0px 0px 0px;
}

/* .active {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    width: 50vw;
    height: 100vh;
}

.login-pusheen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f96c;
    width: 50vw;
    height: 100vh;
}

.login-pusheen img {
    max-height: 1000px;
    width: 100%;
}

.form-row input {
    background-image: linear-gradient(to bottom right, #F9F9F9,#f7dbf09d);
    color:black;
    width: 60vw;
}

.form-row input:hover {
    background-image: linear-gradient(to bottom right, #f7dbf09d, #F9F9F9);

}

.checkout-header {
    padding: 20px;
}

.checkout-cart {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px 20px;
    max-width: 40%;
    max-height: 50vh;
    background-image: linear-gradient(to bottom right, #F9F9F9,#f7dbf09d);
}

.mb-2 {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    width: 100%;
    background-image: linear-gradient(to bottom right, #F9F9F9, #F9F9F9,#f7dbf09d);
}

.checkout-flex {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    padding: 20px;
}

#form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#modal {
    position: absolute;
    display: inline-block;
    padding: 0.8rem;
    color: black;
    background: #f3f3f3;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
    width: 20rem;
    z-index: 1000;
    right: 10px;
    top: 60px;
}

img {
    max-height: 300px;
    border-radius: 3px;
}

#about {
    /* padding: 20px 10px; */
    display: flex;
    flex-direction: row;
    background-color: #f8dcebe1;
    margin: 20px 0px;
    padding: 30px 0px 0px 0px;
    justify-content: center;
    /* align-content: flex-start; */
    /* align-items: center; */
}

i {
    font-size: 40px;
    margin-right: 10px;
}


section.mainSection {
    padding: 0px;
}

/* 
#about {

    border: 1px solid black;
    padding: 10px 10px;
    margin: 20px 0px;
} */

.username {
    background-image: linear-gradient(to bottom right, #F9F9F9,#f7dbf0b6);
}

.pass {
    background-image: linear-gradient(to bottom right, #F9F9F9,#f7dbf0b6);
}

#subscribe {
    padding: 20px 10px;
    display: flex;

    max-width: 33%;
    min-width: 32.5%;
}

#moreInfo {
    padding: 0px 20px;
}

.left-footer {
    padding: 20px 10px;
    max-width: 33%;
    min-width: 32.5%;
}

.helpcolumn {
    max-width: 33%;
    min-width: 32.5%;
}

#facebook, #youtube, #snapchat, #pinterest, #insta, #twitter {
    font-size: 36px;
    color:black
}

#facebook:hover {
    color:#1c90d3;
    font-size: 40px;
}

#youtube:hover {
   color: red;
   font-size: 40px;
}

#snapchat:hover {
   color: rgb(235, 235, 94);
   font-size: 40px;
}

#pinterest:hover {
   color: red;
   font-size: 40px;
}

#insta:hover {
   color: rgb(197, 57, 197);
   font-size: 40px;
}

#twitter:hover {
   color: rgb(88, 188, 235);
   font-size: 40px;
}


button {
    text-align: center;
}

img.card-img-top {
    height: 300px;
    width: 460px;
}

select#state {
/*     background-image: linear-gradient(to bottom right, #CDF0EA,#F7DBF0); */
      background-image: linear-gradient(to bottom right, #F9F9F9,#f7dbf09a);
}

a {
    text-decoration: none;
    color:inherit
}

a:hover {
    text-decoration: none;
    color:inherit
}